.my-movies-container {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-movies-container h1 {
  margin-bottom: 14px;
}

.my-movies-container span {
  font-size: 18px;
}

.my-movies-container ul {
  width: 720px;
}

.my-movies-container ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.my-movies-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-movies-container div a {
  text-decoration: none;
  color: #116feb;
  margin-right: 14px;
}